<%= form_for :friend, url: friends_path, remote: true do |f| %>
 
<div class="container">
	<div class="form-group">
	    		<%= f.label :"Friend Name", class:"control-label col-sm-2" %>
	      		<%= f.text_field :username, class:"friendName col-sm-8" %>
	    	</div>
			<br><br>
	    	<div class="form-group">
            <%= f.submit "Add", class:"addFriend btn btn-primary col-sm-offset-2 col-sm-3 "%>
	      		      
	    	</div>
</div>
<% end %>